{% extends 'base.html.twig' %}

{% block title %}{{ 'rack.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ 'rack.edit.header'|trans }}</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                {{ include('rack/_form.html.twig', {'button_label': 'rack.form.button.update'|trans}) }}
            </div>
        </div>

        {{ include('rack/_delete_form.html.twig') }}

    </div>
{% endblock %}
