{% extends 'base.html.twig' %}

{% block title %}New Distribution{% endblock %}

{% block body %}
    <h1>Create new Distribution</h1>

    {{ include('distribution/_form.html.twig') }}

    <a href="{{ path('app_distribution_index') }}">back to list</a>
{% endblock %}
