# Bloquer l'exécution de scripts PHP dans le dossier uploads
<FilesMatch "\.(?i:php|php3|php4|php5|phtml|pl|py|jsp|asp|html|htm|shtml|sh|cgi)$">
    deny from all
</FilesMatch>

# Autoriser uniquement les images
<FilesMatch "\.(?i:jpg|jpeg|png|gif|webp)$">
    allow from all
</FilesMatch>
